:root{
    --primary-background-color:#222;
    --secondary-background-color:  #ffffff;
    --tertiary-background-color: #f73797;
    --primary-color:#000000;

}

body {
    font-family: Arial, sans-serif;
    background-color:var(--primary-background-color) ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  h1 p {
    letter-spacing: 2px;
  }
  
  .card {
    background-color:var(--secondary-background-color) ;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    padding: 50px;
    text-align: center;
    
  }
  
  .heading {
    background-color:var(--tertiary-background-color); 
    color:var(--primary-color);
    font-weight: bold;
    padding: 2px;
    border-radius: 6px ;
    position: absolute;
    top: -20px;
    left: 16px;
    width: calc(100% - 40px);
    text-align: center;
  }
  
  .content {
    margin-top: 40px;
    font-size: 20px;
    color: var(--primary-color);
    position: relative;
    top: 20px;
    text-align: left;
  }
  